{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex" id="quickview">
            <div id="budget-container" class="d-flex flex-column">
                <div>
                    <h1>SUMMARY</h1>
                </div>
                <div>
                    <h3>Your initial budget</h3>
                    <h1>&#36;{{ current_budget }} - &#36;{{ total_spent }} </h1>

                    <h3>Your remaining budget for the month</h3>
                    <h1><strong>&#36;{{ current_budget - total_spent }} </strong></h1>
                </div>
            </div>
            <hr>
        </div>
        <div class="d-flex flex-column align-items-center" id="entries">
            <div id="dropdown-container">
                <div class="dropdown">
                    <button class="dropbtn">Order By</button>
                    <div class="dropdown-content">
                        <a class="btn" href=" {{ url_for('home', order=1) }} ">Newest to Oldest</a>
                        <a class="btn" href=" {{ url_for('home', order=2) }} ">Oldest to Newest</a>
                        <a class="btn" href=" {{ url_for('home', order=3) }} ">Lowest to Highest</a>
                        <a class="btn" href=" {{ url_for('home', order=4) }} ">Highest to Lowest</a>
                    </div>
                </div>
            </div>


            {% for entry in entries_list.items %}
            <div class="entry-container d-flex align-items-center">
                <div class="amount-div">
                    <span class="date-posted">{{ entry.date_posted.strftime("%d %a %I:%M%p") }}</span>
                    <p class="amount"> <strong> <span>&#36;</span>{{ entry.amount }}</strong> </p>
                </div>
                <div class="details-div">
                    <p class="category"> {{ entry.category }} </p>
                    <p class="text-muted"> {{ entry.comment }} </p>
                </div>
                <div class="update-delete-div">
                    <a class="update-btn btn btn-outline-primary" href="{{ url_for('update_entry', eid=entry.eid) }}"><i class="fas fa-pen"></i></a>
                    <a class="delete-btn btn btn-outline-danger" href="{{ url_for('delete_entry', eid=entry.eid) }}"><i class="fas fa-times"></i></a>
                </div>
            </div>
            {% endfor %}

            <div id="pagination-container">
                {% for page_num in entries_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if entries_list.page == page_num %}
                <a class="btn btn-primary" href=" {{ url_for('home', page=page_num) }} "> {{ page_num }} </a>
                {% else %}
                <a class="btn btn-outline-primary" href=" {{ url_for('home', page=page_num) }} "> {{ page_num }} </a>
                {% endif %}
                {% else %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}